<!-- Head -->
<%- include('./template/head') %>

    <body>
        <div id="app">
            <!-- Sidebar -->
            <%- include('./template/sidebar') %>
                <div id="main">

                    <!-- Header -->
                    <%- include('./template/header') %>

                        <div class="page-heading">
                            <h3>Dashboard Statistics</h3>
                        </div>
                        <div class="page-content">
                            <section class="row">
                                <div class="col-12 col-lg-9">
                                    <div class="row">
                                        <div class="col-6 col-lg-4 col-md-6">
                                            <div class="card">
                                                <div class="card-body px-4 py-4-5">
                                                    <div class="row">
                                                        <div
                                                            class="col-md-4 col-lg-12 col-xl-12 col-xxl-4 d-flex justify-content-start ">
                                                            <div class="stats-icon purple mb-2">
                                                                <i class="iconly-boldActivity"></i>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-8">
                                                            <h6 class="text-muted font-semibold">Transaksi  <b class="text-success">(<%= dataDashboard.countTrx %>)</b></h6>
                                                            <h6 class="font-extrabold mb-0"><%= formatCurrency(dataDashboard.sumTrx) %></h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 col-lg-3 col-md-6">
                                            <div class="card">
                                                <div class="card-body px-4 py-4-5">
                                                    <div class="row">
                                                        <div
                                                            class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                                                            <div class="stats-icon blue mb-2">
                                                                <i class="iconly-boldProfile"></i>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                                                            <h6 class="text-muted font-semibold">Users</h6>
                                                            <h6 class="font-extrabold mb-0"><%= dataDashboard.sumUsers %></h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 col-lg-5 col-md-6">
                                            <div class="card">
                                                <div class="card-body px-4 py-4-5">
                                                    <div class="row">
                                                        <div
                                                            class="col-md-4 col-lg-12 col-xl-12 col-xxl-3 d-flex justify-content-start ">
                                                            <div class="stats-icon red mb-2">
                                                                <i class="iconly-boldWallet"></i>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-9">
                                                            <h6 class="text-muted font-semibold">Penarikan Pending <b class="text-danger">(<%= dataDashboard.countWDPending %>)</b></h6>
                                                            <h6 class="font-extrabold mb-0"><%= formatCurrency(dataDashboard.sumWDPending) %></h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-3">
                                    <div class="card">
                                        <div class="card-body py-4 px-4">
                                            <div class="d-flex align-items-center">
                                                <div class="avatar avatar-xl">
                                                    <img src="https://zuramai.github.io/mazer/demo/assets/compiled/jpg/1.jpg" alt="Face 1">
                                                </div>
                                                <div class="ms-3 name">
                                                    <h5 class="font-bold">
                                                        <%= admin.nama_admin%>
                                                    </h5>
                                                    <h6 class="text-muted mb-0">@<%= admin.username_admin%>
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>

                        <!-- Footer -->
                        <%- include('./template/footer') %>
                </div>
        </div>

        <!-- JS -->
        <%- include('./template/js') %>
    </body>

    </html>