<%- include('../template/head') %>
    <%- include('../template/header') %>
        <div class="container mt-5">
            <% if(kat=="masuk" ){ %>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="../../../user/dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="../masuk">Saweran Masuk</a></li>
                        <li class="breadcrumb-item active" aria-current="page">
                            <%= detailSaweranByID[0].id_transaksi %>
                        </li>
                    </ol>
                </nav>
                <div class="card shadow">
                    <div class="card-header">
                        Detail Transaksi Sawer Masuk
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="row mb-2">
                                    <div class="col-md-4">
                                        <span class="fw-bolder">ID Transaksi</span>
                                    </div>
                                    <div class="col-md-8">
                                        <a href="<%=  web_config.domain %>/bayar/<%=detailSaweranByID[0].id_transaksi %>"
                                            class="fst-italic">
                                            <%=detailSaweranByID[0].id_transaksi %>
                                        </a>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-md-4">
                                        <span class="fw-bolder">Reff PG</span>
                                    </div>
                                    <div class="col-md-8">
                                        <span class="fst-italic">
                                            <%=detailSaweranByID[0].reff_pg %>
                                        </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-7">
                                <div class="row mb-2">
                                    <div class="col-md-4">
                                        <span class="fw-bolder"> Username / Nama Pengirim</span>
                                    </div>
                                    <div class="col-md-8">
                                        <a href="<%= detailSaweranByID[0].username === 'tamu' ? '#' : web_config.domain + '/' + detailSaweranByID[0].username %>"
                                            class="fst-italic">
                                            <%= detailSaweranByID[0].username %>
                                        </a>
                                        / <span class="fst-italic">
                                            <%=detailSaweranByID[0].nama_pengirim %>
                                        </span>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-md-4">
                                        <span class="fw-bolder">Email Pengirim</span>
                                    </div>
                                    <div class="col-md-8">
                                        <a class="fst-italic" href="mailto:<%=detailSaweranByID[0].email_pengirim %>">
                                            <%=detailSaweranByID[0].email_pengirim %>
                                        </a>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-md-4">
                                        <span class="fw-bolder">Pesan Pengirim</span>
                                    </div>
                                    <div class="col-md-8">
                                        <span class="fst-italic">
                                            <%=detailSaweranByID[0].pesan_pengirim %>
                                        </span>
                                    </div>
                                </div>


                                <div class="row mb-2">
                                    <div class="col-md-4">
                                        <span class="fw-bolder">Metode Pembayaran</span>
                                    </div>
                                    <div class="col-md-8">
                                        <span class="fst-italic">
                                            <%=detailSaweranByID[0].nama_mp %>
                                        </span>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-md-4">
                                        <span class="fw-bolder">Nominal</span>
                                    </div>
                                    <div class="col-md-8">
                                        <span class="fst-italic" id="nominal">
                                            <%= formatCurrency(detailSaweranByID[0].nominal) %>
                                        </span>
                                    </div>
                                </div>


                                <div class="row mb-2">
                                    <div class="col-md-4">
                                        <span class="fw-bolder">Biaya Admin</span>
                                    </div>
                                    <div class="col-md-8">
                                        <span class="fst-italic" id="biaya_admin">
                                            <%= formatCurrency(detailSaweranByID[0].biaya_admin) %>
                                        </span>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-md-4">
                                        <span class="fw-bolder">Total Terima</span>
                                    </div>
                                    <div class="col-md-8">
                                        <span class="fst-italic" id="total_terima">
                                            <%= formatCurrency(detailSaweranByID[0].total_terima) %>
                                        </span>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-md-4">
                                        <span class="fw-bolder">Waktu Transaksi</span>
                                    </div>
                                    <div class="col-md-8">
                                        <span class="fst-italic">
                                            <%=detailSaweranByID[0].waktu_transaksi %>
                                        </span>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-md-4">
                                        <span class="fw-bolder">Status Transaksi</span>
                                    </div>
                                    <div class="col-md-8">
                                        <span
                                            class="fst-italic badge <%= detailSaweranByID[0].status_transaksi === 'Sukses' ? 'bg-success' : 'bg-warning' %>">
                                            <%= detailSaweranByID[0].status_transaksi %>
                                        </span>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <% } else if(kat=="keluar" ){ %>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="../../../user/dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="../keluar">Saweran Keluar</a></li>
                        <li class="breadcrumb-item active" aria-current="page">
                            <%= detailSaweranByID[0].id_transaksi %>
                        </li>
                    </ol>
                    <div class="card shadow">
                        <div class="card-header">
                            Detail Transaksi Sawer Keluar
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="row mb-2">
                                        <div class="col-md-4">
                                            <span class="fw-bolder">ID Transaksi</span>
                                        </div>
                                        <div class="col-md-8">
                                            <a href="<%=  web_config.domain %>/bayar/<%=detailSaweranByID[0].id_transaksi %>"
                                                class="fst-italic">
                                                <%=detailSaweranByID[0].id_transaksi %>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="row mb-2">
                                        <div class="col-md-4">
                                            <span class="fw-bolder">Reff PG</span>
                                        </div>
                                        <div class="col-md-8">
                                            <span class="fst-italic">
                                                <%=detailSaweranByID[0].reff_pg %>
                                            </span>
                                        </div>
                                    </div>

                                </div>


                                <div class="col-lg-7">
                                    <div class="row mb-2">
                                        <div class="col-md-4">
                                            <span class="fw-bolder"> Username Penerima</span>
                                        </div>
                                        <div class="col-md-8">
                                            <a href="<%= detailSaweranByID[0].username === 'tamu' ? '#' : web_config.domain + '/' + detailSaweranByID[0].username %>"
                                                class="fst-italic">
                                                <%= detailSaweranByID[0].username %>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="row mb-2">
                                        <div class="col-md-4">
                                            <span class="fw-bolder">Nominal</span>
                                        </div>
                                        <div class="col-md-8">
                                            <span class="fst-italic" id="nominal">
                                                <%= formatCurrency(detailSaweranByID[0].nominal) %>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="row mb-2">
                                        <div class="col-md-4">
                                            <span class="fw-bolder">Pesan Anda</span>
                                        </div>
                                        <div class="col-md-8">
                                            <span class="fst-italic">
                                                <%=detailSaweranByID[0].pesan_pengirim %>
                                            </span>
                                        </div>
                                    </div>


                                    <div class="row mb-2">
                                        <div class="col-md-4">
                                            <span class="fw-bolder">Metode Pembayaran</span>
                                        </div>
                                        <div class="col-md-8">
                                            <span class="fst-italic">
                                                <%=detailSaweranByID[0].nama_mp %>
                                            </span>
                                        </div>
                                    </div>


                                    <div class="row mb-2">
                                        <div class="col-md-4">
                                            <span class="fw-bolder">Waktu Transaksi</span>
                                        </div>
                                        <div class="col-md-8">
                                            <span class="fst-italic">
                                                <%=detailSaweranByID[0].waktu_transaksi %>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="row mb-2">
                                        <div class="col-md-4">
                                            <span class="fw-bolder">Status Transaksi</span>
                                        </div>
                                        <div class="col-md-8">
                                            <span
                                                class="fst-italic badge <%= detailSaweranByID[0].status_transaksi === 'Sukses' ? 'bg-success' : 'bg-warning' %>">
                                                <%= detailSaweranByID[0].status_transaksi %>
                                            </span>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
        </div>
        <%- include('../template/js') %>
            <script>
                $(document).ready(function () {

                })
            </script>
            <%- include('../template/footer') %>