<%- include('../template/head') %>
    <%- include('../template/header') %>
        <div class="container mt-5">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../user/dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Saldo</li>
                </ol>
            </nav>
            <div class="card">
                <div class="card-header">
                    Dompet
                    <div style="float: right;">Total saldo Anda: <span id="totalSaldo" class="fw-bolder">
                        <%= formatCurrency(Saldo) %>
                        </span> <br>
                        <button style="float: right;" href="" class="btn btn-outline-primary mt-2" id="btnModalWD">Tarik
                            Saldo</button>
                    </div>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover" id="table">
                        <thead>
                            <tr>
                                <th scope="col">Tanggal</th>
                                <th scope="col">Reff Transaksi</th>
                                <th scope="col">Nama Transaksi</th>
                                <th scope="col">Penyesuaian</th>
                                <th scope="col">Nominal</th>
                                <th scope="col">Status Transaksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(dompetUser) {%>
                                <% dompetUser.forEach((el)=> { %>
                                    <tr>
                                        <th scope="row">
                                            <%= el.waktu_transaksi_dompet %>
                                        </th>
                                        <td>
                                            <% if(el.penyesuaian=="Credit" ) {%>
                                                <a href="/user/saweran/masuk/<%= el.reff_transaksi%>">
                                                    <%= el.reff_transaksi%>
                                                </a>
                                                <% } %>
                                                    <% if(el.penyesuaian=="Debit" ) {%>
                                                        <%= el.reff_transaksi%>
                                                            <% } %>
                                        </td>
                                        <td>
                                            <%= el.nama_transaksi %>
                                        </td>
                                        <td>
                                            <span
                                                class="badge <%= el.penyesuaian === 'Credit' ? 'bg-info' : 'bg-danger' %>">
                                                <%= el.penyesuaian %>
                                            </span>

                                        </td>
                                        <td>
                                            <%= formatCurrency(el.nominal) %>
                                        </td>
                                        <td>
                                            <span
                                                class="badge <%= el.status_transaksi_dompet === 'Sukses' ? 'bg-success' : 'bg-warning' %>">
                                                <%= el.status_transaksi_dompet %>
                                            </span>
                                        </td>
                                    </tr>
                                    <% }) %>
                                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Modal WD-->
        <div class="modal fade" id="modalWD" tabindex="-1" aria-labelledby="modalWDLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalWDLabel">Tarik Saldo</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12 mb-1">
                                <div style="float: right;">
                                    Total saldo Anda: <span id="totalSaldoModal" class="fw-bolder">
                                        <%= formatCurrency(Saldo) %>
                                    </span>
                                </div>
                            </div>
                            <div class="col-12 mb-2">
                                <label for="akun_bank" class="form-label">Akun Bank</label>
                                <div class="row">
                                    <div class="col-8">
                                        <% if (dataUser[0].akun_bank) { %>
                                            <input type="text" class="form-control" id="akun_bank"
                                                value="<%= dataUser[0].akun_bank.bank %> - <%= dataUser[0].akun_bank.no_rekening %> - <%= dataUser[0].akun_bank.nama_rekening %>"
                                                disabled>
                                            <% if (dataUser[0].akun_bank.status===true) { %>
                                                <span class="d-block text-center text-success">Akun Bank
                                                    Terverifikasi</span>
                                                <% } else { %>
                                                    <span class="d-block text-center text-info">Akun Bank sedang
                                                        diverifikasi</span>
                                                    <% } %>
                                                        <% } else { %>
                                                            <input type="text" class="form-control" id="akun_bank"
                                                                value="Akun Bank belum diatur" disabled>
                                                            <% } %>
                                    </div>

                                    <div class="col-4">
                                        <i class="bi bi-bank"> <a class="p-2" href="/user/akun_bank">Akun Bank</a></i>
                                    </div>
                                </div>

                            </div>
                            <div class="col-12 mb-2">
                                <label for="nominal" class="form-label">Nominal</label>
                                <input type="number" class="form-control" id="nominal" value="10000" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btnTarikSaldo">Tarik sekarang!</button>
                    </div>
                </div>
            </div>
        </div>

        <%- include('../template/js') %>
            <script>
                $(document).ready(function () {

                    const btnModalWD = $("#btnModalWD")
                    btnModalWD.on('click', function () {
                        $("#modalWD").modal('show')
                    })

                    const btnTarikSaldo = $("#btnTarikSaldo")
                    btnTarikSaldo.on("click", function () {
                        const dataTarikSaldo = {
                            nominal: $("#nominal").val()
                        }

                        if (Object.values(dataTarikSaldo).every(val => val !== null && val !== undefined && val !== "")) {
                            $("#nominal").removeClass("is-invalid");
                            if (dataTarikSaldo.nominal >= 10000) {
                                axios({
                                    method: 'post', url: '/user/doTarikSaldoUser', data: {
                                        dataTarikSaldo
                                    }
                                }).then((responseDataTarikSaldo) => {
                                    if (responseDataTarikSaldo.data.statusPenarikanSaldo == "OK") {
                                        let timerInterval
                                        Swal.fire({
                                            icon: 'success',
                                            title: 'Berhasil',
                                            text: "Permintaan penarikan saldo Anda telah diterima, akan diproses.",
                                            timer: 1500,
                                            timerProgressBar: true,
                                            showConfirmButton: true,
                                            allowOutsideClick: false,
                                            didOpen: () => {
                                                Swal.showLoading()
                                            },
                                            willClose: () => {
                                                clearInterval(timerInterval)
                                            }
                                        }).then((result) => {
                                            /* Read more about handling dismissals below */
                                            if (result.dismiss === Swal.DismissReason.timer) {
                                                location.reload()
                                            }
                                        })
                                    }
                                    else {
                                        let timerInterval
                                        Swal.fire({
                                            icon: 'info',
                                            title: 'Info',
                                            text: responseDataTarikSaldo.data.statusPenarikanSaldo,
                                            timer: 5000,
                                            timerProgressBar: true,
                                            showConfirmButton: true,
                                            allowOutsideClick: false,

                                        }).then((result) => {
                                            $("#nominal").val('')
                                            $("#modalWD").modal('hide')
                                        })
                                    }
                                });
                            } else {
                                $("#nominal").focus()
                                Swal.fire('Gagal', 'Maaf, Minimal Penarikan Saldo Rp 10.000.', 'info');
                            }
                        }
                        else {
                            $("#nominal").addClass("is-invalid");
                            Swal.fire('Gagal', 'Maaf, Silahkan isi semua data dahulu.', 'info');
                        }


                    })

                    $('#table').DataTable();
                })
            </script>
            <%- include('../template/footer') %>